<!-- J'ai choisi de mettre une nav-bar pour ajouter des boutons pour l'utilisateur -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Image Médicale</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)='setSelectionOk()'>Importer</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)='upload()'>Exporter</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Editer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu3">
          <a class="dropdown-item" href="#" (click)='setEdition()'>Selectionner une zone</a>
          <a class="dropdown-item" href="#">Edition automatique</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)='restore()'>Restaurer</a>
      </li>
    </ul>
  </div>
</nav> 

<!-- Affichage de la liste des images connues de la base de données Firebase si l'utilisateur veut sélectionner une image -->
<div *ngIf="selection">
  <a *ngFor="let image of images | async as list">
    <div>
      <!-- Si l'utilisateur clique sur l'ID d'une image, elle sera chargée pour que l'utilisateur puisse l'éditer -->
      <a href="#" (click)="setPath(image.URL)">{{image.ID}}</a>
    </div>
  </a>
</div>

<!-- Le composant canvas qui va contenir mon image -->
<app-canvas></app-canvas>